---
layout: default
title: Please Hold
date: 2016-11-05
category: projects
image: mast.jpeg
description: Track the time you waste with Centrelink. Everything stays on your device.

my_css: please-hold.css
my_js: please-hold.js

---
<article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="section-padding--lg mast">
    <a class="nav nav--white" href="https://rensa.co/projects">
      <h2>rensa.co | {{ page.title }}</h2>
    </a>
    <figure class="absolute-bg mast__img" style="background: #333;');"></figure>
    <div class="mast__container projects">
      <h4>{{ page.description }}</h4>
    </div>
  </header>

  <section class="section-padding post" itemprop="articleBody">
    {% include project-content.html %}
  </section>

  <!--<section class="profile">
    <div class="profile__card">
      <div class="profile__img">
        <figure class="absolute-bg" style="background-image: url('{{ site.profile_img | prepend: site.baseurl }}');"></figure>
      </div>
      <div class="profile__container">
        <h4>{{ site.name }}</h4>
        <p>{{ site.profile }}</p>
        {% if site.email or site.social %}
          <ul class="profile__social">
            {% for social in site.social %}
              <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>-->
  <section class="legal">
     {% if site.email or site.social %}
        <ul class="footer__social">
          {% for social in site.social %}
            <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
          {% endfor %}
        </ul>
      {% endif %}
     <p><a href="https://rensa.co">James Goldie</a> (2016). Questions? <a href="https://medium.com/@rensa/welfare-is-a-waste-of-time-485d38c9c6a7">Answers.</a></p>
     <p>Mast image is by <a href="https://unsplash.com/photos/71CjSSB83Wo">Pavan Trikutam</a>. HTML encoding and decoding functions from <a href="http://stackoverflow.com/questions/12409314/how-to-escape-special-characters-from-textarea-using-jquery">Stack Overflow</a>. <em>Please Hold</em> uses <a href="https://jquery.com/">jQuery</a> and <a href="http://momentjs.com">Moment.js</a>.</p>
  </section>

  <div id="popup-receipt-reminder-bg">
    <section id="popup-receipt-reminder" class="popup">
      <h2 id="receipt-reminder-text">Remember to ask for a receipt!</h2>
      <a class="popup-close">
        <span class="fa fa-2x fa-check"></span>
        <h3>Got it</h3>
      </a>
    </section>
  </div>

</article>