<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>

<!-- for jquery and d3, I've chosen to try and download them from the cdn first and fallback to a local version -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    !window.jQuery && document.write('<script src="/assets/js/jquery-3.1.1.min.js"><\/script>')
</script>

{% for ext_js in page.ext_js %}
    <script type="text/javascript" src="{{ page.ext_js }}"></script>
{% endfor %}
{% if page.my_js %}
    <script type="text/javascript" src="{{ '/assets/js/' | prepend: site.baseurl | append: page.my_js }}"></script>
{% endif %}