<!--<div id="ph-loading">
    <p>Hold tight!</p>
</div>-->
<div id ="ph-space-warning">
    <p><em>Please Hold</em> is getting full. You might want to save your old notes and empty everything out.</p>
</div>
<div id="ph-space-full">
    <p><em>Please Hold</em> is full. You'll need to save your old notes and empty everything out before you can add more.</p>
</div>
<div id="ph-space-nostorage">
    <p><em>Please Hold</em> needs localStorage to work, and your browser doesn't have it. Any chance you can find another one?</p>
</div>
<div id="ph-quiz">
</div>
<div id="ph-history">
</div>
