/* extra styling for the please hold app
   james goldie, 2016
*/

/* custom header gradient */
$color-ph-a: #dd1bff;
$color-ph-b: #ff821b;
.mast__container.projects h1
{
    background: -webkit-linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    background: -moz-linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    background: linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-ph-a;
}

/* quiz questions! */
#ph-quiz
{
    display: none;
    text-align: center;
    font-family: $font-header;
    font-size: 1.5em;
    text-transform: uppercase;
    
    #q_text
    {
        margin-bottom: 20px;
    }
    
    // all quiz buttons 
    a
    {
        border-radius: 4px;
        display: inline-block;
        height: 140px;
        padding: 20px;
        margin: 10px;
        vertical-align: top;

        p
        {
            margin: 15px 0 0 0;
        }

        span
        {
            display: inline;
        }
    }

    textarea
    {
        font-family: $font-body;
        font-size: 0.75em;
        width: 100%;
        max-width: 480px;
    }

    #phq-wrapup-post
    {
        display: block;
        height: 140px;
        width: 100px;
        margin: 10px auto;
    }
}

/* history section */
#ph-history
{
    display: none;
    margin-top: 2em;
    text-align: center;
    
    h2
    {
        font-size: 2.25em;
        text-transform: uppercase;
    }

    span
    {
        margin-right: 10px;
    }
}

/* button styles */
.btn
{
    &-red
    {
        color: #fff;
        border: 2px #b50000;
        background: #d90000;
    }

    &-orange
    {
        color: #fff;
        border: 2px #db6500;
        background: #fd7400;
    }

    &-yellow
    {
        color: #000;
        border: 2px #da0;
        background: #fc0;
    }

    &-green
    {
        color: #fff;
        border: 2px #588f27;
        background: #69ab2f;
    }
    
    &-blue
    {
        color: #fff;
        border: 2px #2185c5;
        background: #7ecefd;
    }

    &-darkblue
    {
        color: #fff;
        border: 2px #141952;
        background: #0d1570;
    }

    &-purple
    {
        color: #fff;
        border: 2px #36175e;
        background: #553285;
    }

    

    &-grey
    {
        color: #fff;
        border: 2px #2b3a42;
        background: #3f5765;
    }
}

/* alerts and other miscellania */

/*#ph-loading
{
    color: red;
    text-align: center;
}*/

#ph-space-warning
{
    display: none;
    background-color: yellow;
    color: black;
    text-align: center;
}

#ph-space-full, #ph-space-nostorage
{
    display: none;
    background-color: red;
    color: white;
    text-align: center;
}

section.legal
{
    padding: 2em;
    background-color: #333;
    
    p
    {
        color: #fff;
        size: 0.25em;

        a
        {
            color: $color-ph-b;
        }
    }
}