/* extra styling for the please hold app
   james goldie, 2016
*/

/* custom header gradient */
$color-ph-a: #dd1bff;
$color-ph-b: #ff821b;
.mast__container.projects h1
{
    background: -webkit-linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    background: -moz-linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    background: linear-gradient(to top right,
        $color-ph-a,
        $color-ph-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-ph-a;
}

/* quiz questions! */
#ph-quiz
{
    display: none;
    text-align: center;
    font-family: $font-header;
    font-size: 1.5em;
    text-transform: uppercase;
    
    #q_text, #rec_text
    {
        margin-bottom: 20px;
    }
    
    // all quiz buttons 
    button
    {
        border-radius: 4px;
        display: inline-block;
        height: 140px;
        padding: 20px;
        margin: 10px;
        vertical-align: top;

        p
        {
            margin: 15px 0 0 0;
            text-transform: uppercase;
        }

        span
        {
            display: inline;
        }
    }

    textarea, input
    {
        font-family: $font-body;
        font-size: 0.75em;
        width: 100%;
        max-width: 480px;
        margin-bottom: 20px;
    }

    #ans_dtpick
    {
        /* to prevent overflow on mobile */
        font-size: 80%;
    }

    #phq-wrapup-post
    {
        display: block;
        height: 140px;
        width: 100px;
        margin: 10px auto;
    }
}

/* history section */
#ph-history
{
    display: none;
    margin-top: 2em;
    text-align: center;

    h2
    {
        font-size: 2.25em;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    ul li
    {
        list-style: none; 
    }

    /* history icons */
    span
    {
        margin-left: 10px;
        margin-right: 10px;

        /* ... and the delete item icon */
        &.fa-trash
        {
            color: #999;
        }
    }

    /* delete all icon */
    button span
    {
        margin-left: 0;
        margin-right: 10px;
        &.fa-trash
        {
            color: #fff;
        }
    }

    /* history share button spacing */
    #history-share-btns
    {
        margin-bottom: 1em;

        > *
        {
            vertical-align: top;
            margin-left: 10px;
        }

        &:first-child
        {
            margin-left: 0;
        }

        #history-share-linkedin
        {
            color: #fff;
            background-color: #0077b5;
            font-family: 'Helvetica Neue', Arial, sans-serif;
            text-decoration: none;
            font-size: 13px;
            border-radius: 4px;
            border: 0;
            height: 28px;
            display: inline-block;
            padding-left: 10px;
            margin-left: 0;

            span
            {
                vertical-align: bottom;
                display: inline-block;
                line-height: 13px;
            }  
        }
    }

    /* control buttons (delete, export) */
    button
    {
        font-family: $font-header;
        font-size: 1em;
        text-transform: uppercase;
        border-radius: 4px;
        display: inline-block;
        height: 70px;
        padding: 0 15px;
        margin: 10px;
        vertical-align: top;

        span, h3
        {
            display: inline-block;

            &#history-delete-confirm
            {
                display: inline-block;
            }
        }
    }
}

/* button styles */
.btn
{
    &-red
    {
        color: #fff;
        border: 2px #b50000;
        background: #d90000;
    }

    &-orange
    {
        color: #fff;
        border: 2px #db6500;
        background: #fd7400;
    }

    &-yellow
    {
        color: #000;
        border: 2px #da0;
        background: #fc0;
    }

    &-green
    {
        color: #fff;
        border: 2px #588f27;
        background: #69ab2f;
    }
    
    &-blue
    {
        color: #fff;
        border: 2px #2185c5;
        background: #7ecefd;
    }

    &-darkblue
    {
        color: #fff;
        border: 2px #141952;
        background: #0d1570;
    }

    &-purple
    {
        color: #fff;
        border: 2px #36175e;
        background: #553285;
    }

    &-lgrey
    {
        color: #fff;
        border: 0;
        background: #c0c0c0;
    }

    

    &-grey
    {
        color: #fff;
        border: 2px #2b3a42;
        background: #3f5765;
    }
}

/* alerts and other miscellania */

/*#ph-loading
{
    color: red;
    text-align: center;
}*/

#ph-space-warning
{
    display: none;
    background-color: yellow;
    color: black;
    text-align: center;
}

#ph-space-full, #ph-space-nostorage
{
    display: none;
    background-color: red;
    color: white;
    text-align: center;
}

#ph-loading
{
    text-align: center;
    font-style: italic;
}


/* fancy modal popup alert for receipt reminder */
#popup-receipt-reminder-bg
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background-color: rgba(51,51,51,0.5);

    &:target
    {
        display: block;
    }
}

#popup-receipt-reminder
{
    
    background: $color-ph-b;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
    box-shadow:0 0 10px rgba(0,0,0,0.4);

    width: 100%;
    margin: 0 auto;
    z-index: 100;
    top: 25%;
    padding: 3em 1em;

    text-align: center;
    h2
    {
        font-family: $font-header;
        text-transform: uppercase;
        color: #fff;
        font-size: 2em;
        margin-bottom: 1em;
    }

    a
    {
        display: block;
        font-size: 1.25em;
        h3, span
        {
            color: #fff;
            display: inline-block;
        }
        h3
        {
            font-family: $font-header;
            text-transform: uppercase;
            margin: 0;
        }
    }
    
}

section.legal
{
    padding: 2em;
    background-color: #333;
    
    p
    {
        color: #fff;
        size: 0.25em;

        a
        {
            color: $color-ph-b;
        }
    }
}